@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.img-select li{
  float: left;
  margin-left: 8px;
}
.img-select .img-wrapper {
  padding: 5px;
  position: relative;
  height: 100px;
  width: 160px;
}
.img-select .img-wrapper:before {
  content: "\2714";
  display: block;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background:  #00c09e;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  z-index: 10;
  opacity: 0;
  transition: 0.3s linear;
  -webkit-user-select: none;
  cursor: pointer;
}
.img-select .img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  box-shadow: 0 0 0 4px #fff;
  cursor: pointer;
  animation: unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.img-select .img-desc {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.img-select .selected:before {
  opacity: 1;
}

.img-select .selected img {
  box-shadow: 0 0 0 4px #00c09e;
  animation: selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

@keyframes unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #fff; }
}

@keyframes selected {
  0% { border-color: #fff; }
  50% { transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #00c09e; }
}


