<section class="row">
    <div class="col-sm-12">
        <div class="block">
            <div class="blockTitle">
                <span>主动基金风格 - 时序分布</span>
            </div>
            <div class="chartWrapper">
                <div id="fssChart" style="width: 100%;height: 100%;"></div>
            </div>
        </div>
    </div>
</section>
<section class="row">
        <div class="col-sm-12">
                <div class="block">
                    <div class="blockTitle">
                        <span>主动基金风格 - 截面分布</span>
                    </div>
                    <div class="chartWrapper">
                        <div id="fsjChart" style="width: 100%;height: 100%;"></div>
                    </div>
                </div>
            </div>
</section>