<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>盘后监控屏</title>
    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../style/style.css">
    <script src="../lib/jquery-3.3.1/jquery-3.3.1.js"></script>
</head>
<body>
	<div class="layout">
        <head>
            <div class="row">
                <div class="col-lg-3">
                    <div class="monitor">
                        <img src="../image/monitoring.png">
                    </div>
                    <div class="department">
                        <span>指数与量化投资部</span>
                    </div>
                </div>
                <div class="col-lg-6"></div>
                <div class="col-lg-3">
                    <div class="timeWrapper">
                        <div class="time">
                            <span>09:30:00</span>
                        </div>
                        <div class="radar"><img src="../image/radar.png"></div>
                    </div>
                </div>
            </div>
        </head>
        <article>
            <section>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="block">
                            <div id="inList" class="rollList">
                            	<div class="rl-head">
                            		<div class="rl-th">
                            			<div class="rl-title">指数代码</div>
                            			<div class="rl-subtitle">&nbsp;</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">指数名称</div>
                            			<div class="rl-subtitle">&nbsp;</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">累计涨幅</div>
                            			<div class="rl-subtitle">今年以来</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">指数点位</div>
                            			<div class="rl-subtitle">过去三年分位数</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">当前PE-TIM</div>
                            			<div class="rl-subtitle">&nbsp;</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">PE-TIM</div>
                            			<div class="rl-subtitle">过去三年分位数</div>
                            		</div>
                            	</div>
                            	<div class="rl-body">
                            		<div class=rl-tr>
                            			<div class="rl-td">h11136.CSI</div>
                            			<div class="rl-td">中国互联网</div>
                            			<div class="rl-td">46.4%</div>
                            			<div class="rl-td">58.7%</div>
                            			<div class="rl-td">8.1</div>
                            			<div class="rl-td">8.6%</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">000016.SH</div>
                            			<div class="rl-td">上证50</div>
                            			<div class="rl-td">37.3%</div>
                            			<div class="rl-td">2.1%</div>
                            			<div class="rl-td">11.6</div>
                            			<div class="rl-td">18.3%</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">000300.SH</div>
                            			<div class="rl-td">沪深300</div>
                            			<div class="rl-td">29.8%</div>
                            			<div class="rl-td">36.6%</div>
                            			<div class="rl-td">14.1</div>
                            			<div class="rl-td">25.0%</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">000016.SH</div>
                            			<div class="rl-td">上证50</div>
                            			<div class="rl-td">27.3%</div>
                            			<div class="rl-td">0.8%</div>
                            			<div class="rl-td">11.6%</div>
                            			<div class="rl-td">18.3%</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">h30035.CSI</div>
                            			<div class="rl-td">300非银</div>
                            			<div class="rl-td">26.4%</div>
                            			<div class="rl-td">48.4%</div>
                            			<div class="rl-td">23.0</div>
                            			<div class="rl-td">31.1%</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">000300.SH</div>
                            			<div class="rl-td">沪深300</div>
                            			<div class="rl-td">23.7%</div>
                            			<div class="rl-td">32.7%</div>
                            			<div class="rl-td">14.1</div>
                            			<div class="rl-td">25.0%</div>
                            		</div>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="block">
                            <div id="stList" class="rollList">
                            	<div class="rl-head">
                            		<div class="rl-th">
                            			<div class="rl-title">证券代码</div>
                            			<div class="rl-subtitle">&nbsp;</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">证券简称</div>
                            			<div class="rl-subtitle">&nbsp;</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">当日成交额</div>
                            			<div class="rl-subtitle">（亿元）</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">日均成交额</div>
                            			<div class="rl-subtitle">今年以来（亿元）</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">成交排名</div>
                            			<div class="rl-subtitle">今年以来</div>
                            		</div>
                            	</div>
                            	<div class="rl-body">
                            		<div class=rl-tr>
                            			<div class="rl-td">518880.OF</div>
                            			<div class="rl-td">华安黄金ETF</div>
                            			<div class="rl-td">47.74</div>
                            			<div class="rl-td">9.11</div>
                            			<div class="rl-td">1</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">510900.OF</div>
                            			<div class="rl-td">易方达恒生H股ETF</div>
                            			<div class="rl-td">23.75</div>
                            			<div class="rl-td">7.53</div>
                            			<div class="rl-td">2</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">510050.OF</div>
                            			<div class="rl-td">华夏上证50ETF</div>
                            			<div class="rl-td">6.21</div>
                            			<div class="rl-td">6.73</div>
                            			<div class="rl-td">3</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">159920.OF</div>
                            			<div class="rl-td">华夏恒生ETF</div>
                            			<div class="rl-td">4.88</div>
                            			<div class="rl-td">1.13</div>
                            			<div class="rl-td">7</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">150300.OF</div>
                            			<div class="rl-td">华泰柏瑞沪深300ETF</div>
                            			<div class="rl-td">2.74</div>
                            			<div class="rl-td">3.91</div>
                            			<div class="rl-td">4</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">150500.OF</div>
                            			<div class="rl-td">南方中证500ETF</div>
                            			<div class="rl-td">1.99</div>
                            			<div class="rl-td">1.65</div>
                            			<div class="rl-td">6</div>
                            		</div>
                            	</div>
                            </div>
                        </div>
                    </div>            
                </div>
            </section>
            <section style="padding: 10px;">
                <div class="blockWrapper">
                 	<div id="rankBlock" class="block">
                 		<div class="bl-line">
                 			<div>超额收益排名</div>
                 		</div>
                 		<div class="bl-body">
                 			<div id="rankList" class="rollList">
                            	<div class="rl-head">
                            		<div class="rl-th">
                            			<div class="rl-title">排名</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">基金代码</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">基金名称</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">基金增长率</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">基准超额收率</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">年化跟踪误差</div>
                            		</div>
                            		<div class="rl-th">
                            			<div class="rl-title">标的指数</div>
                            		</div>
                            	</div>
                            	<div class="rl-body">
                            		<div class=rl-tr>
                            			<div class="rl-td">1</div>
                            			<div class="rl-td">003646</div>
                            			<div class="rl-td">创金合信中证1000指数增强A</div>
                            			<div class="rl-td">-1.35%</div>
                            			<div class="rl-td">13.73%</div>
                            			<div class="rl-td">3.05%</div>
                            			<div class="rl-td">中证1000</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">2</div>
                            			<div class="rl-td">110003</div>
                            			<div class="rl-td">易方达上证50指数</div>
                            			<div class="rl-td">37.68%</div>
                            			<div class="rl-td">12.56%</div>
                            			<div class="rl-td">4.12</div>
                            			<div class="rl-td">上证50</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">3</div>
                            			<div class="rl-td">040002</div>
                            			<div class="rl-td">华安中国A股增强指数</div>
                            			<div class="rl-td">21.63%</div>
                            			<div class="rl-td">10.70%</div>
                            			<div class="rl-td">4.36%</div>
                            			<div class="rl-td">中国A股指数</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">4</div>
                            			<div class="rl-td">163407</div>
                            			<div class="rl-td">兴全沪深指数300(LOF)</div>
                            			<div class="rl-td">30.76%</div>
                            			<div class="rl-td">10.46%</div>
                            			<div class="rl-td">2.99%</div>
                            			<div class="rl-td">沪深300</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">5</div>
                            			<div class="rl-td">000311</div>
                            			<div class="rl-td">景顺长城沪深300指数增强</div>
                            			<div class="rl-td">32.13%</div>
                            			<div class="rl-td">10.20%</div>
                            			<div class="rl-td">3.58%</div>
                            			<div class="rl-td">沪深300</div>
                            		</div>
                            		<div class=rl-tr>
                            			<div class="rl-td">6</div>
                            			<div class="rl-td">110030</div>
                            			<div class="rl-td">易方达沪深300量化增强</div>
                            			<div class="rl-td">29.81%</div>
                            			<div class="rl-td">9.52%</div>
                            			<div class="rl-td">3.70%</div>
                            			<div class="rl-td">沪深300</div>
                            		</div>
                            	</div>
                            </div>
                 		</div>
                 	</div>
					<div class="lightborder"></div>
                </div>
            </section>
        </article>
    </div>
</body>
</html>