<section>
    <div class="row">
        <div class="col-sm-4">
            <div class="block">
                <div class="blockTitle">
                    <span>实时ETF折溢价</span>
                    <div class="cc-container">
                        <div class="circle" style="background-color: #239d60;"></div>
                        <div class="circle" style="background-color: #fdab31"></div>
                        <div class="circle breathe" style="background-color: #f12d2d;"></div>
                    </div>
                </div>
                <div class="chartWrapper">
                    <div id="dprChart" style="width: 100%;height: 240px;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="block">
                <div class="blockTitle">
                    <span>实时ETF交易额</span>
                    <div class="cc-container">
                        <div class="circle breathe" style="background-color: #239d60;"></div>
                        <div class="circle" style="background-color: #fdab31"></div>
                        <div class="circle" style="background-color: #f12d2d;"></div>
                    </div>
                </div>
                <div class="chartWrapper">
                    <div id="tvChart" style="width: 100%;height: 240px;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="block">
                <div class="blockTitle">
                    <span>实时行情分布</span>
                    <div class="cc-container">
                        <div class="circle breathe" style="background-color: #239d60;"></div>
                        <div class="circle" style="background-color: #fdab31"></div>
                        <div class="circle" style="background-color: #f12d2d;"></div>
                    </div>
                </div>
                <div class="chartWrapper">
                    <div id="csChart" style="width: 100%;height: 240px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-sm-6">
            <div class="block">
                <div class="blockTitle">
                    <span>ETF申赎日历</span>
                    <div class="cc-container">
                        <div class="circle" style="background-color: #239d60;"></div>
                        <div class="circle" style="background-color: #fdab31"></div>
                        <div class="circle breathe" style="background-color: #f12d2d;"></div>
                    </div>
                </div>
                <div class="chartWrapper">
                    <div id="scChart" style="width: 100%;height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block">
                <div class="blockTitle">
                    <span>实时舆情监控</span>
                    <div class="cc-container">
                        <div class="circle breathe" style="background-color: #239d60;"></div>
                        <div class="circle" style="background-color: #fdab31"></div>
                        <div class="circle" style="background-color: #f12d2d;"></div>
                    </div>
                </div>
                <div class="chartWrapper">
                    <div id="newsTable" style="width: 100%;height: 100%;overflow: hidden;position: relative;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script id="sc-tpl" type="text/html">
    <div>
        <div class="row" style="margin-bottom: 8px;">
            <div class="col-sm-6">
                <label>当前规模：</label><span>{{totalPrice}}</span>&nbsp;亿
            </div>
            <div class="col-sm-6" style="padding-left: 0;">
                    <label>合计：</label><span>{{totalBalance}}</span>&nbsp;亿
                </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="sc-list">{{#details}}<li>
                    <label class="sc-label">{{fundName}}</label>
                    <span class="sc-feild">{{balance}}&nbsp;亿</span>
                </li>{{/details}}</ul>
            </div>
        </div>
    </div>
</script>
