<section class="row">
    <div class="col-sm-12">
        <div class="bolck">
                <div class="blockTitle" style="text-align: center;">
                        <span>风险因子收益表现</span>
                    </div>
                    <div class="chartWrapper">
                        <div id="yzWrapper" class="yz-wrapper">
                            <!-- <ul class="yz-list">
                                <li style="border-right: 2px solid #2a5578;border-bottom: 2px solid #2a5578;">
                                        <dl class="detail" draggable="true" data-info="0-贝塔">
                                        <dt>贝塔</dt>
                                        <dd class="up">+1.5%</dd>
                                    </dl>
                                </li>
                            </ul> -->
                        </div>
                        <div id="yzToggle" class="yz-toggle">
                            <ul class="m-toggle">
                                <li class="active"><a href="#rtp">实时走势</a></li>
                                <li><a href="#hp">历史走势</a></li>
                            </ul>
                        </div>
                        <div class="yz-display">
                            <ul class="yz-display-ul">
                                <li id="rtp">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div id="rtpChart1" class="yzchart"></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div id="rtpChart2" class="yzchart"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div id="rtpChart3" class="yzchart"></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div id="rtpChart4" class="yzchart"></div>
                                        </div>
                                    </div>
                                </li>
                                <li id="hp">
                                    <div id="hpChart" style="height: 100%;width: 100%;"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
        </div>
    </div>
</section>
<script>
    var panels = document.querySelectorAll('.chart');
    [].forEach.call(panels, function (panel) {
        panel.addEventListener('dragenter', handleDragEnter, false);
        panel.addEventListener('dragleave', handleDragLeave, false);
        panel.addEventListener('drop', handleDrop, false);
        panel.addEventListener('dragover', handleDragOver, false);
    });

    var members = document.querySelectorAll('.detail');
    [].forEach.call(members, function (member) {
        member.addEventListener('dragstart', handleDragStart, false);
        member.addEventListener('dragend', handleDragEnd, false);
    });

    function handleDragStart(evt) {
        //拖动只支持copd操作
        evt.effectAllowed = 'copy';
        evt.dataTransfer.setData("text/html", evt.target.dataset.info);

            [].forEach.call(panels, function (panel) {
            addClass(panel, 'validtarget');
        });
        return true;
    }

    function handleDragEnter(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        return false;
    }
    function handleDragLeave(evt) {
        removeClass(evt.currentTarget, 'highlighted');
        return false;
    }
    function handleDragOver(evt) {
        evt.dataTransfer.dropEffect = 'copy';
        evt.stopPropagation();
        evt.preventDefault();

        addClass(evt.currentTarget, 'highlighted');
        return false;
    }
    function handleDrop(evt) {
        evt.preventDefault();
        evt.stopPropagation();

        var dropTarget = evt.currentTarget;
        var data = evt.dataTransfer.getData('text/html');
        drawChart(dropTarget, data);
    }

    //确保清空所有的拖放操作
    function handleDragEnd(evt) {  
        [].forEach.call(panels, function (panel) {
            removeClass(panel, 'validtarget');
            removeClass(panel, 'highlighted');
        });
        return false;
    }

    function hasClass( elements,cName ){ 
        return !!elements.className.match( new RegExp( "(\\s|^)" + cName + "(\\s|$)") ); 
    }
    function addClass( elements,cName ){ 
        if( !hasClass( elements,cName ) ){ 
        elements.className += " " + cName; 
        }
    }
    function removeClass( elements,cName ){ 
        if( hasClass( elements,cName ) ){ 
        elements.className = elements.className.replace( new RegExp( "(\\s|^)" + cName + "(\\s|$)" ), " " );
        }
    }

    //绘图
    function randomData() {
        var data = [];
        var now = new Date(2018, 6, 1);
        var oneDay = 24 * 3600 * 1000;
        var value = Math.random() * 1000;
        for (var i = 0; i < 30; i++) {
            data.push({
                name: now.toString(),
                value: [
                    [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
                    Math.round(value)
                ]
            });

            now = new Date(+now + oneDay);
            value = value + Math.random() * 21 - 10;
        }
        return data;
    }

    var chartList = {};
    var colors = ['#47AFEE','#FF7F00','#7FC97F','#D8241F','#9564BF','#8D5649',
        '#E574C3','#FDC086','#BCBF00','#edf0c7'];
    function drawChart(el, info) {
        var infos = info.split('-');
        var index = infos[0];
        var name = infos[1];

        var data = randomData();
        var option = {
            color: colors[index],
            legend: {
                textStyle: {
                    color: '#7aaad2'
                },
                data: [name],
                bottom: 0,
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '10%',
                top: '10%',
                containLabel: true
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    var date = new Date(params.name);
                    return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
                },
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                type: 'time',
                axisTick: {show: false},
                axisLabel: {
                    color: '#7aaad2'
                },
                axisLine: {
                    lineStyle: {
                        color: '#7aaad2'
                    }
                },
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                scale: true,
                axisLabel: {
                    color: '#7aaad2'
                },
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#7aaad2'
                    }
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: '#7aaad2'
                    }
                }
            },
            series: [{
                name: name,
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: data
            }]
        };

        if (chartList[el.id]) {
            chartList[el.id].clear();
        } else {
            chartList[el.id] = echarts.init(el);
        }
        chartList[el.id].setOption(option);
    }
</script>